<nav class="navbar navbar-default navbar-fixed-bottom" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-8 col-xs-4 col-xs-offset-8" >
                <p><strong>Contact Info:</strong></p>
                <p>email: <a href="mailto:pharmer.fyp@gmail.com">pharmer.fyp@gmail.com</a></p>
                <p>Phone number: +92 312 4050409</p>
                <p>Address: 852-B Milaad St, Block B Faisal Town, Lahore, Punjab 54770 </p>
            </div>
        </div>
    </div>
</nav>