{% load static %}

<nav class="navbar navbar-dark" style="background-color: #7ec52d;"  >
    <div class="container-fluid" style="color:white;">
        <div class="navbar-header" >
            <a class="navbar-left" href="{% url 'home_view' %}">
                <img src="https://i.imgur.com/0fQXKVu.png" style="height: 50px; width: 100px;" class="d-inline-block align-top" alt="" />
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right" >
            <li class="active"><a href="{% url 'home_view' %}"  style ="color: black;" >Home</a></li>
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" style="color:black">Predictions
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'cropyield_view' %}">Crop Yield</a></li>
                      <li><a href="{% url 'cropvalue_view' %}">Farm-Gate/Production Value</a></li>
                      <li><a href="{% url 'temprf_view' %}">Rainfall and Temperature Forecast</a></li>
                    </ul>
            </li>
        </ul>
   
    </div>
</nav>

